
<blockquote class="prereq">
    <h3 id="derived">Note</h3>
  
    <p>This tutorial is derived from a Software Carpentries lesson, and has been adapted to the particular context of the LDI Replication Lab. You may find that some instructions or context may not fully align with the rest of the <a href="https://labordynamicsinstitute.github.io/replicability-training-curriculum/" alt="Link to curriculum">Curriculum</a>. If you are interested in viewing the complete lesson as originally intended, see the links in the footer.</p>
</blockquote>